# ignore all directories but User
.*
Packages/*
!.gitignore
!Packages/User

# ignore package control files
Package Control.*
!Package Control.sublime-settings

# individual files / folders
Packages/User/GitSavvy