[submodule "sublime/Plugins/MarkdownEditing"]
	path = sublime/Plugins/MarkdownEditing
	url = git@github.com:thezimmee/MarkdownEditing.git
[submodule "sublime/Plugins/FileIcons"]
	path = sublime/Plugins/FileIcons
	url = git@github.com:thezimmee/FileIcons.git
