## macOS.
.DS_Store

## IDE.
*.sublime-project
*.sublime-workspace

## Unnecessary.
*.crt

##
## --- START: SUBLIME

# Installed packages not in user folder.
sublime/Packages/BetterFindBuffer/
sublime/Packages/Boxy Theme Addon - Widget Font Size/
sublime/Packages/Codecs33/
sublime/Packages/Default/
sublime/Packages/HTML-CSS-JS Prettify/
sublime/Packages/JavaScript/
sublime/Packages/markupsafe/
sublime/Packages/mdpopups/
/sublime/Packages/Minify/
sublime/Packages/numpy/
sublime/Packages/package_events/
sublime/Packages/pathtools/
sublime/Packages/pygments/
sublime/Packages/python-jinja2/
sublime/Packages/python-markdown/
sublime/Packages/pyyaml/
sublime/Packages/PyV8/
sublime/Packages/SublimeCodeIntel/
sublime/Packages/Sublimerge 3/
sublime/Packages/watchdog/
sublime/Packages/zzz A File Icon zzz/
sublime/Packages/LiveReload/
sublime/Packages/SendCode/
sublime/Packages/Sublimerge Pro/
sublime/Packages/Theme - Default/
sublime/Packages/SyntaxFold/
sublime/Packages/Terminal/
sublime/Packages/SublimeLinter-contrib-eslint/
sublime/Packages/SublimeLinter-contrib-stylelint/
sublime/Packages/SublimeLinter/
sublime/Packages/backrefs/
sublime/Packages/bs4/
sublime/Packages/Pretty JSON/

# User files and folders.
sublime/Packages/User/Color Highlighter/themes/
sublime/Packages/User/GitSavvy/*.hidden-tmTheme
sublime/Packages/User/oscrypto-ca-bundle.crt
sublime/Packages/User/Package Control.*
!sublime/Packages/User/Package Control.sublime-settings
sublime/Packages/User/Sublimerge Macros.sublime-commands
sublime/Packages/User/Sublimerge.tmTheme
sublime/Packages/User/SublimergeSummaryPanel.tmTheme
sublime/Packages/User/i_opener_history.sublime-settings

## --- END: SUBLIME
##

