<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.107A2C9D-F254-44CF-8603-144682F0BE65</string>
	<key>darkthemeuid</key>
	<string>theme.custom.C16341E7-9545-41D5-A32E-1558B91C0056</string>
</dict>
</plist>
