kwmc rule properties={role="AXDialog"} owner="iTerm2"
kwmc rule properties={float="true"} owner="Shortcat"

kwmc rule properties={float="true"} owner="App Store"
kwmc rule properties={float="true"} owner="System Preferences"
kwmc rule properties={float="true"} owner="BetterTouchTool"

kwmc rule properties={float="true"} name="Preferences"

kwmc rule properties={space="2"} owner="Finder"
kwmc rule properties={space="2"} owner="Slack"
