/**
 * See https://github.com/AlexVallat/UserChrome-Tweaks/blob/navbar_auto-hide/navbar/auto-hide.css for autohide example.
 */

/* Remove bookmarks button from urlbar. */
#pocket-button { display: none; }
/* Remove bookmarks button from urlbar. */
#star-button-box { display: none; }
/* Minor UI spacing tweak in urlbar. */
#page-action-buttons #pageActionSeparator {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* Autohide urlbar. */
#navigator-toolbox {
	height: 34px;
	overflow-y: hidden;
	will-change: height;
	transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
/* #navigator-toolbox:hover, */
#navigator-toolbox:focus-within {
	height: 74px;
}
#navigator-toolbox toolbarbutton {
	-moz-user-focus: normal;
}
/* #nav-bar {
	transform: scaleY(0);
	transform-origin: top left;
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

:hover > #nav-bar,
#nav-bar:focus-within {
	transform: scaleY(1);
} */


/* Make urlbar search results full width. */
#PopupAutoCompleteRichResult {
	margin-left: -170px;
	--item-padding-start: 0 !important;;
	--item-padding-end: 0 !important;
}

/* Make active tab always wider. */
.tabbrowser-tab:not([pinned])[selected=true] {
	min-width: 150px !important;
	max-width: 100% !important;
}

/* Tweak spacing for toolbar buttons in tabbar. */
#TabsToolbar .chromeclass-toolbar-additional {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Hide new tab button in tabbar. */
#new-tab-button { display: none; }

/* Hide scroll buttons in tabbar. */
.scrollbutton-down,
.scrollbutton-up {
	display: none;
}

/* Fix spacing in tabbar. */
.titlebar-placeholder { width: 5px !important; }
.titlebar-placeholder[type=caption-buttons] { margin-right: 5px; }
#tabbrowser-tabs { margin-right: 4px; }