<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Snippets</string>
	<key>connections</key>
	<dict>
		<key>0FF78B9E-2EC0-4059-A62F-773CED544C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18238088-0A45-4C00-B991-59731572F02D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18238088-0A45-4C00-B991-59731572F02D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34A1D3DD-F592-42FF-946F-EA506F161474</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34A1D3DD-F592-42FF-946F-EA506F161474</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>605E81F9-38BF-41E0-85DF-B5C2DDE82C95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>The Zimmee &lt;thezimmee@gmail.com&gt;</string>
	<key>description</key>
	<string>Snippet template.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Snippet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>testsnip</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>0FF78B9E-2EC0-4059-A62F-773CED544C9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>Hello {query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>605E81F9-38BF-41E0-85DF-B5C2DDE82C95</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Paste the welcome message to the frontmost app</string>
				<key>text</key>
				<string>Start welcome message with "Hello {query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>34A1D3DD-F592-42FF-946F-EA506F161474</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>.05</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>18238088-0A45-4C00-B991-59731572F02D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0FF78B9E-2EC0-4059-A62F-773CED544C9D</key>
		<dict>
			<key>note</key>
			<string>Respond to snippet.</string>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>18238088-0A45-4C00-B991-59731572F02D</key>
		<dict>
			<key>note</key>
			<string>Slight delay to allow time to delete snippet placeholder text.</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>34A1D3DD-F592-42FF-946F-EA506F161474</key>
		<dict>
			<key>note</key>
			<string>Request input.</string>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>605E81F9-38BF-41E0-85DF-B5C2DDE82C95</key>
		<dict>
			<key>note</key>
			<string>Paste to frontmost app.</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
